@{
    Layout = "_Layout";
    ViewBag.Title = "API Documentation";
}

<main id="api-docs-page">
<article>
    <h1>API Documentation Endpoints</h1>

    <p>
        The public document is available through this endpoint: <br/>
        <code>https://[this-website]/api/docs</code><br/>
        Note that this will return all <b>public</b> API endpoints.

        <br/>
        <br/>

        If you want administator endpoints, they are available through this endpoint: <br/> 
        <code>https://[this-website]/api/docs/admin</code><br/>
        though <b>you must be authorized</b> to get back a successful response.
    </p>

    <h4>Summary</h4>
    <table>
        <thead>
            <th>route</th>
            <th>administator authorization required</th>
        </thead>
        <tbody>
            <tr>
                <td>/api/docs</td>
                <td>no</td>
            </tr>
            <tr>
                <td>/api/docs/admin</td>
                <td>yes</td>
            </tr>
        </tbody>
    </table>
</article>    
</main>

@section Styles {
<style>
#api-docs-page {
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
}
</style>
}