@{
    Layout = "_Layout";
    ViewBag.Title = "API Documentation";
}

<main id="api-docs-page">
<article>
    <h1>API Documentation Endpoints</h1>

    <p>
        The public document is available through this endpoint: <br/>
        <code>https://[this-website]/api/docs</code><br/>
    </p>
</article>    
</main>

@section Styles {
<style>
#api-docs-page {
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
}
</style>
}