@using CoworkingApp.Models.DtoModels
@model WorkspaceCreateRequestDto

<title>Create Workspace</title>
<h1>Create Workspace</h1>

<form method="post" asp-action="Create">
    <div>
        <label asp-for="Name">Name:</label>
        <input type="text" asp-for="Name"/>
        <span asp-validation-for="Name"></span>
    </div>

    <div>
        <label asp-for="Description">Description</label>
        <input type="text" asp-for="Description"/>
        <span asp-validation-for="Description"></span>
    </div>

    <div>
        <label asp-for="StatusId"></label>
        <select asp-for="StatusId" asp-items="ViewBag.Statuses">
            <option value="">--Select Workspace Status--</option>
        </select>
        <span asp-validation-for="StatusId"></span>
    </div>

    <div>
        <label asp-for="CoworkingCenterId"></label>
        <select asp-for="CoworkingCenterId" asp-items="ViewBag.CoworkingCenters">
            <option value="">--Select Coworking Center--</option>
        </select>
        <span asp-validation-for="CoworkingCenterId"></span>
    </div>

    <button type="submit">Create</button>
</form>
